<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wyszukiwarka namiotowa i kepingowa</title>
    <link
      rel="shortcut icon"
      href="../static/images/logo-tent.svg"
      type="image/x-icon"
    />
    <script src="../static/map/leaflet.js"></script></script>

    <!-- Web page CSS -->
    <link rel="stylesheet" href="../static/styles.css" />

    <!-- Simple lightbox CSS -->
    <link rel="stylesheet" href="assets/css/simple-lightbox.min.css" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/icons/favicon-16x16.png"
    />


  </head>
  <body>
    <!-- Navbar -->

    <nav>
      <a href="#" class="logo">
        <h1>
          <link
           rel="icon"
           sizes="180x180"
           href="../static/images/camping-tent.png"
    />
          
          <span class="tent-logo">Wyszukiwarka pól namiotowowych i kepingowych</span>
          <span class="tent">&#x26fa;</span>
        </h1>
        <p><span class="tent-description"></span>Szybko i łatwo znajdź dla siebie miejsce pod kemping!</span> </p>
      </a>
      <ul>
        <li class="nav-item">
          <a href="featured" class="nav-link" id="nav-link">Strona główna </a>
        
        </li>
        <li class="nav-item">
          <a href="about" class="nav-link" id="nav-link">O stronie</a>
        </li>
        <li class="nav-item">
          <a href="form" class="nav-link" id="nav-link"
            >Dodaj pole</a>
        </li>
      </ul>
    </nav>
    <!-- Dark/light theme switcher -->

    <!-- Bars -->

<div class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>


<div id="empty_box">

</div>


<script>
    function getRickrolled(callback) {
    var promise = new Promise((resolve) => {
        setTimeout(() => resolve("http://www.youtube.com/watch?v=dQw4w9WgXcQ"), 1000)
    })
    promise.then(callback)
    return promise
}
getRickrolled(function (rickroll) {
    console.log("Callback: " + rickroll)
}).then(function (rickroll) {
    console.log("Promise: " + rickroll)
})
</script>
</body>
</html>