<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moj formularz</title>
    <script src="../static/map/leaflet.js"></script></script>

    <!-- Web page CSS -->
    <link rel="stylesheet" href="../static/styles.css" />

    <!-- Simple lightbox CSS -->
    <link rel="stylesheet" href="assets/css/simple-lightbox.min.css" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/icons/favicon-16x16.png"
    />

    <title>SEB</title>


  </head>
  <body>
    <!-- Navbar -->

    <nav>
      <a href="#" class="logo">
        <h1>
          <span class="tent-logo">SEBProject</span>
          <span class="tent">&#x26fa;</span>
        </h1>
      </a>
      <ul>
        <li class="nav-item">
          <a href="about" class="nav-link" id="nav-link">O stronie</a>
        </li>
        <li class="nav-item">
          <a href="featured" class="nav-link" id="nav-link">Wyróżnione</a>
        </li>
        <li class="nav-item">
          <a href="form" class="nav-link" id="nav-link"
            >xyz</a>
        </li>
      </ul>
      <!-- <div>SEB znajdzie Ci namiot
      </div> -->
    </nav>
    <!-- Dark/light theme switcher -->

    <!-- Bars -->

<div class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>

<div id="add_data">
  <h1>Dodawanie danych</h1>
  <form action="/add_data" method="post">
      <label for="longitude">Longitude:</label>
      <input type="number" step="0.0001" min="0" id="Longitude" name="Longitude" required><br><br>
      <label for="latitude">Latitude:</label>
      <input type="number" step="0.0001" min="0" id="Latitude" name="Latitude" required><br><br>
      <label for="name">Name:</label>
      <input type="text" id="Name" name="Name" required><br><br>
      <label for="type">Type:</label>
      <input type="text" id="Object type" name="Object type" required><br><br>
      <input type="submit" value="Dodaj dane" class="find-menu-button">
      <input type="reset" value="Wyczyść dane" class="find-menu-button">
  </form>
</div>

<script>
</script>
</body>
</html>