@import url("https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: "Montserrat", sans-serf;
  background-image: url("../static/images/head_background.jpg");
  background-size: 100%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--secondary-color);
} 

.tent {
    color: var(--secondary-color);
  }
  
  .tent-logo {
    color: var(--primary-color);
    color: white;
  }
  
  nav {
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    
  }

  .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

  .hamburger {
    display: none;
  }
  .bar {
    background-color: #020202;
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
  }

  #menu {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(236, 238, 102, 0.692);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.623);
    border: solid rgba(0, 0, 0, 0.507); 
    
}
.menu-right{
    
    text-align: center;
    margin-top: 10px;
    
}

label{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#city{
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 5px;
    text-align: center;
}
#find{
    background-color: rgba(72, 190, 18, 0.849);
    border-radius: 5px;
}
#show{
    border-radius: 5px;            
}
#showT{
    border-radius: 5px;            
}
#showC{
    border-radius: 5px;            
}
#clear{
    border-radius: 5px;  
}
#menu-down{
    margin-left: 39%;
    margin-top: 5px;
    
}